<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout1.css">
    <title>Layout01</title>
</head>
<body>
    

    <div class="profile">
        <img class="profile-pic" src="https://github.com/Rohan-Naroni/html-css-course/blob/main/1-exercise-solutions/lesson-10/cat.jpg?raw=true" alt="">
        <div class="pdesc">
            <p class="profilename">Oliver</p>
            <p class="profiledesc">The Cat</p>
            <p class="profilestatus">Popular</p>
        </div>
        <div class="button-div"><button class="follow">Follow</button></div>
    </div>



    <div class="profile">
        <img class="profile-pic" src="https://github.com/Rohan-Naroni/html-css-course/blob/main/1-exercise-solutions/lesson-10/cat2.jpg?raw=true" alt="">
        <div class="pdesc">
            <p class="profilename">Mimi</p>
            <p class="profiledesc">Sleepy Cat</p>
            <p class="profilestatus">Popular</p>
        </div>
        <div class="button-div"><button class="follow">Follow</button></div>
    </div>

    <div class="profile">
        <img class="profile-pic" src="https://github.com/Rohan-Naroni/html-css-course/blob/main/1-exercise-solutions/lesson-10/dog.jpg?raw=true" alt="">
        <div class="pdesc">
            <p class="profilename">Rex</p>
            <p class="profiledesc">Happy BullDog</p>
            <p class="profilestatus">Popular</p>
        </div>
        <div class="button-div"><button class="follow">Follow</button></div>
    </div>


    


</body>
</html>